<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta subject="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <!-- <script src="tuitions.js"></script> -->
    <link rel="stylesheet" href="./css/style.css">
    <title>Tuition Booking</title>
</head>

<body>
    <div id="app">
        <!-- Navigation Bar -->
        <nav>
            <div id="searchbar">
                <input @click="">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div v-if="cartEmpty">
                <button id="cartBtn" disabled><span class="fa-solid fa-cart-shopping"></span> Cart</button>
            </div>
            <div v-else>
                <button id="cartBtn" @click="showCheckoutList"> {{cartCount}} <span
                        class="fa-solid fa-cart-shopping"></span> Cart</button>
            </div>
        </nav>

        <!-- Tuition Home page HTML -->
        <div v-if="showTuitionList">
            <div id=sortingForm>
                <!-- Sorting controls -->
                <label>Sort by:</label>
                <select v-model="sortBy">
                    <option value="price">Price</option>
                    <option value="subject">Subject</option>
                    <option value="region">Region</option>
                    <option value="spaces">Spaces</option>
                </select>

                <label>Order:</label>
                <select v-model="sortOrder">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>


            <!-- Display sorted tuitions -->
            <div v-for="tuition in sortedtuitions" :key="tuition.id" id="tuitionList">
                <figure>
                    <img id="tuitionImg" v-bind:src="tuition.icon">
                </figure>
                <h2 v-text="tuition.subject"></h2>
                <p v-text="tuition.region"></p>
                <p>Price: ${{ tuition.price }}</p>
                <p>Available Seats: {{tuition.availableSeats}}</p>
                <button v-if="tuition.availableSeats >0 " id="addToCartButton" @click="addToCart(tuition)">Add to
                    Cart</button>
                <div v-else>
                    <span>All seats booked!</span>
                    <button id="addToCartButton" disabled>Add to Cart</button>

                </div>

            </div>
        </div>

        <!-- Checkout Page HTML -->
        <div v-else-if="!showCheckout">
            <div id="checkOutList">
                <h1>Checkout Page</h1>
                <!-- Convert List to table -->
                <p> Purchase List:</p>
                <table>
                    <tr>
                        <td>Subject</td>
                        <td>Region</td>
                    </tr>
                    <tr v-for="cart in cart">
                        <td v-text="cart.subject"></td>
                        <td v-text="cart.region"></td>
                        <td style="border-width:0 ;">
                            <button style="width:100%; height:auto;" @click="removeItem(cart)">Remove Item</button>
                        </td>
                    </tr>
                </table>

                <button id="checkOutBtn" @click="checkOut">Checkout</button>
            </div>
        </div>
        <div id="checkOut_form" v-else>
            <div style="display: block;">
                <label>Full subject:</label>
                <input type="text" v-model.trim="purchase.subject">
            </div>
            <div style="display: block;">
                <label>Address:</label>
                <input type="text" v-model.trim="purchase.address">
            </div>
            <button id="checkOutBtn" @click="tuitionPurchase">Confirm</button>

            <div id="popUp" v-if="isPopupOpen">
                <div id="popUpContent">
                    <h1>Transaction Successful</h1>
                    <p v-text>No. of items purchased= {{cartCount}} </p>
                    <ul v-for="cart in cart">
                        <li>{{cart.subject}} at {{cart.region}}</li>
                    </ul>
                    <button id="checkOutBtn" @click="confirmPurchase">Confirm</button>
                </div>
            </div>
        </div>
        <!-- Purchase confirmation Popup HTML -->

    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                tuitions: [],
                cart: [],
                showTuitionList: true,
                showCheckout: false,
                isPopupOpen: false,
                popUp: [],
                purchase: {
                    subject: "",
                    address: "",
                },
                sortBy: 'subject',   // can be 'price' or 'name'
                sortOrder: 'asc',
            },
            created() {
                fetch("http://localhost:3000/collections/tuitions")
                    .then(response => response.json())
                    .then(res => {
                        app.tuitions = res
                        console.log(app.tuitions)
                    })
                    .catch(error => console.log("Error: ", error))
                    .finally(() => console.log("Fetch request completed"))
            },
            methods: {
                //Add to cart method 
                async addToCart(tuition) {
                    // this.cart.push(tuition);
                    tuition.availableSeats -= 1;

                    //Updated no. of available seats sent to backend
                    var data = { availableSeats: tuition.availableSeats };
                    const response = await fetch(`http://localhost:3000/collections/tuitions/${tuition._id}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },

                        body: JSON.stringify(data),

                    });

                    //Tuition added to cart sent to backend
                    var cartData = { id: tuition.id, subject: tuition.subject, price: tuition.price, region: tuition.region }
                    const res = await fetch("http://localhost:3000/collections/cart", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },

                        body: JSON.stringify(cartData),

                    });

                    //Retreive cart data from backend using fetch api
                    fetch("http://localhost:3000/collections/cart")
                        .then(
                            function (response) {
                                response.json().then(
                                    function (json) {
                                        //console.log(json);
                                        // note that we used ‘app.tuitions’
                                        // instead of 'this.tuitions’
                                        app.cart = json;
                                        console.log(app.cart);

                                    }
                                )
                            }
                        );
                },

                //Method to remove item from cart
                async removeItem(tuition) {
                    // const index = this.cart.indexOf(tuition);
                    // const indexTuition = this.tuitions.indexOf(tuition);
                    // //Removing Item from cart
                    // if (index !== -1) {
                    //     this.cart.splice(index, 1);
                    // }
                    // //Uploading tuition availability
                    // this.tuitions[indexTuition].availableSeats += 1;

                    // // Return to tuition page when cart is empty
                    // if (this.cart.length < 1) {
                    //     this.showTuitionList = true;
                    // }
                    //Deleting tuition item from cart
                    const res = await fetch(`http://localhost:3000/collections/cart/${tuition._id}`, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json",
                        },
                    });

                    //Incrementing the available seats of deleted tuition item
                    tuition.availableSeats += 1;

                    //Updated no. of available seats sent to backend
                    var data = { availableSeats: tuition.availableSeats }; 

                    const response = await fetch(`http://localhost:3000/collections/tuitions/${tuition.id}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },

                        body: JSON.stringify(data),

                    });

                    
                    //Retreive cart data from backend using fetch api
                    fetch("http://localhost:3000/collections/cart")
                        .then(
                            function (response) {
                                response.json().then(
                                    function (json) {
                                        //console.log(json);
                                        // note that we used ‘app.tuitions’
                                        // instead of 'this.tuitions’
                                        app.cart = json;
                                        console.log(app.cart);

                                    }
                                )
                            }
                        );
                },

                showCheckoutList() {
                    if (this.showTuitionList) {
                        this.showTuitionList = false;
                    } else if (this.cart.length < 1 || !this.showTuitionList) {
                        this.showTuitionList = true;
                    }
                },

                checkOut() {
                    if (this.showCheckout) {
                        this.showCheckout = false;
                    } else {
                        this.showCheckout = true;
                    }
                },

                checkOutValidation() {

                },

                tuitionPurchase() {
                    this.popUp.push(this.purchase);
                    if (this.isPopupOpen) {
                        this.isPopupOpen = false;
                    } else {
                        this.isPopupOpen = true;
                    }
                },

                confirmPurchase() {
                    this.cart.splice(0, this.cart.length);
                    this.showCheckoutList();
                    this.checkOut();
                    this.tuitionPurchase();
                },
            },
            computed: {
                cartCount() {
                    return this.cart.length || ""
                },

                cartEmpty() {
                    return this.cartCount < 1;
                },

                sortedtuitions() {
                    // Make a copy to avoid mutating the original
                    return this.tuitions.slice().sort((a, b) => {
                        let compare = 0;

                        if (this.sortBy === 'price') {
                            compare = a.price - b.price;
                        } else if (this.sortBy === 'subject') {
                            // Case-insensitive comparison
                            compare = a.subject.localeCompare(b.subject);
                        }

                        // Reverse if descending
                        return this.sortOrder === 'asc' ? compare : -compare;
                    });
                }
            }

        });
    </script>
</body>

</html>